<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP/wAAF/6AABv9gAAd+4AAHveAAB9vgAAfn4AAH5+AAB9vgAAe94AAHfuAABv9gAAX/oAAD/8AAAAAAAA" rel="icon" type="image/x-icon" />

        <script src="https://use.fontawesome.com/e3c537e348.js"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">

        <link rel="stylesheet" href="./dist/styles.css">

        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        
        <script type="text/x-template" id="widget-note-template">
            <div class="note">

                <div v-if="input.focused" class="options">
                    <div class="group">
                        <button @click="input.align = 'left'"><i class="fa fa-align-left" aria-hidden="true"></i></button>
                        <button @click="input.align = 'center'"><i class="fa fa-align-center" aria-hidden="true"></i></button>
                        <button @click="input.align = 'right'"><i class="fa fa-align-right" aria-hidden="true"></i></button>
                    </div>
                    
                    <button @click="$emit('removed')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>

                <div class="title" 
                    :style="{ textAlign: input.align }" 
                    v-if="lines.length > 10">{{lines[0]}}</div>

                <textarea :style="{ textAlign: input.align }"
                        v-model="input.note"
                        :rows="Math.floor(0.5 * (input.note.length / 50 + lines.length))"></textarea>
            </div>
        </script>

        <script type="text/x-template" id="widget-dynamic-template">
            <div class="dynamic">

                <div v-if="input.focused" class="options">
                    <input class="interval" type="text" v-model="input.updateIntervalSeconds">

                    <div class="group">
                        <input type="text" v-model="input.script">
                        <button class="question"><i class="fa fa-question" aria-hidden="true"></i></button>
                    </div>

                    <button @click="$emit('removed')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>

                <div class="computed">
                    <h2>{{rendered}}</h2>
                </div>

            </div>
        </script>
        
        <script type="text/x-template" id="widget-template">
            <div class="widget" :style="{ left: snap(input.location.x) + pan.x + 'px', top: snap(input.location.y) + pan.y + 'px' }"
                    @mousedown="onDragStart"
                    @mouseup="onDragEnd">
                <component :is="input.type" :input="input" @removed="$emit('removed')"></component>
            </div>
        </script>

        <script type="text/x-template" id="toolbar-template">
            <div class="toolbar">
                <slot>
                    No tools yet here
                </slot>
            </div>
        </script>

        <script type="text/x-template" id="tool-template">
            <div :class="[ 'tool', { empty: isEmpty } ]">
                <div v-if="name" class="label">{{name}}</div>
                <div v-else class="label">
                    <i class="fa fa-wrench" aria-hidden="true"></i> A Tool
                </div>

                <slot></slot>
            </div>
        </script>

        <div id="app"
                :style="{ backgroundPosition: (pan.x % 5) + 'px ' + (pan.y % 5) + 'px' }"
                @mousedown="onPanStart($event)"
                @mousemove="onMouseMove($event)"
                @mouseup="onPanEnd($event)"
                >

            <toolbar class="root-toolbar">
                <tool class="logo" name="Dashboard"></tool>
                <tool name="New Widget">
                    <toolbar>
                        <tool name="Note"
                                @click.native="addWidget('note', { align: 'left' })"></tool>
                        <tool name="Dynamic"
                                @click.native="addWidget('dynamic', { })"></tool>
                    </toolbar>
                </tool>
                <tool name="View">
                    <toolbar>
                        <tool></tool>
                        <tool></tool>
                        <tool></tool>
                        <tool></tool>
                    </toolbar>
                </tool>
            </toolbar>
            
            <widget 
                v-for="(widget, uid) in widgets"
                :key="uid"
                :input="widget"
                :mouse="mouse"
                :pan="pan"
                @updated="save"
                @click.native="onWidgetSelected(uid)"
                @removed="onWidgetRemoved(uid)"></widget>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/it.js"></script>
        <script src="./dist/main.bundle.js"></script>
    </body>
</html>